.header {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 0px;

  .menu-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
  }

  .search-button {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.2);
      cursor: pointer;
    }
    &:active {
      transform: scale(1);
    }
  }
}
