.search {
  // height: 20vh;
  // width: 50%;
  background-color: rgba($color: white, $alpha: 0.8);
  position: fixed;
  border: 2px solid black;
  top: 7%;
  left: 27%;
  width: 45%;
  transform: scale(0);

  &.active {
    transform: scale(1);
  }

  .search-wrapper {
    .search-field {
      display: flex;
      justify-content: center;
      input {
        margin-top: -20px;
        width: 50%;
        border: 2px solid black;
        height: 35px;
        font-family: 'Press Start 2P', 'VT323';
        margin-bottom: 10px;
      }
    }
    .close-btn {
      display: flex;
      justify-content: center;
      button {
        font-family: 'Press Start 2P', 'VT323';
        background-color: #d65170;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        padding: 15px;

        margin-bottom: 20px;
        display: block;
        margin: 15px auto;

        &:hover {
          background-color: #973a50;
        }
        &:active {
          box-shadow: 0px 2px 2px 1px #0f0f0f;
        }

        @media (max-width: 450px) {
          font-size: 12px;
        }
      }
    }
  }
}
